.blck_text_color {
    color: #1B1D1F;
}

.orange_color {
    color: #FF6B0A;
}

.orange_back_color {
    background: #FF6B0A;
}

.blue_color {
    color: #005BBB;
}

.blue_back_color {
    background: #005BBB;
}

.gold_color {
    color: #FFD500;
}