html, 
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #A5DEFF 0%, #FFEF9E 100%);
}

.main-page {
    height: 100%;
    /* width: 1360px; */
    background: linear-gradient(270deg, #A5DEFF 4.17%, rgba(252, 254, 255, 0.5) 94.27%);    
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

header {
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-left: 16px;
}

.banderogusak {
    background: #fff;
    padding: 60px 56px;
    align-self: center;
    /* display: flex; */
}

.bander-greeting {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* color: #1B1D1F; */
    margin-bottom: 16px;
}

.bander-cta {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}

.bandergus-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* blck_text_color */
    /* color: #1B1D1F; */
    margin-bottom: 24px;
}

.bandergus-description {
    margin-bottom: 48px;
}

.gus-launch {
    padding: 12px 24px;
    width: 182px;
    height: 48px;
    background: #FF6B0A;
    border-radius: 8px;
    border: 0;
    color: #FfFfFF;
}

.main_page_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.gus_image {
    align-self: flex-end;
}

.gus-facts {
    padding: 52px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.truzub {
    margin-bottom: 16px;
}

.main-gus-fact {
    width: 875px;
    text-align: center;
    margin-bottom: 24px;
}

.gus-facts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gus-facts-img {
    height: auto;
    width: 100%;
    margin-bottom: 32px;
}

.gus-facts-title {
    margin-bottom: 24px;
    padding: 0 24px;
}

.gus-facts-description {
    padding: 0 24px;
}

.gus-fact-1 {
    margin-top: 0;
    width: 32%;
}

.gus-fact-2 {
    margin-top: 172px;
    width: 32%;
}

.gus-fact-3 {
    margin-top: 344px;
    width: 32%;
}

.footer_group {
   
    height: 360px;
    padding: 52px 95px 70px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-back {
    background: linear-gradient(270deg, #A5DEFF 4.17%, rgba(252, 254, 255, 0.5) 94.27%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 52px;
}

.footer-title {
    margin-bottom: 16px;
}

.footer-text {
    padding: 0 128px;
    text-align: center;
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(27, 29, 31, 0.7);
    /* opacity: 0.7; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form {
    background: #fff;
    opacity: 1;
    padding: 32px 92px 60px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close-modal-btn {
    position: absolute; 
    top: 32px;
    right: 32px;
    border: 0;
    background-color: #fff;
}

.modal-form-title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.modal-form-text {
    padding: 0 128px;
    text-align: center;
    margin-bottom: 24px;
}

.modal-form-field {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.modal-field-name {
    margin-bottom: 8px;
}

.modal-field-input {
    border: 2px solid #005BBB;
    border-radius: 8px;
    height: 42px;
    width: 352px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
}

.gus-launch-btn {
    padding: 12px 24px;
    width: 182px;
    height: 48px;
    background: #FF6B0A;
    border-radius: 8px;
    border: 0;
    color: #FfFfFF;
    margin-top: 16px;
}